<a href="https://colab.research.google.com/github/a-forty-two/DFEData2/blob/main/001_loops_and_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# to print first 10 numbers
# range-> generate values in steps
range(10)

range(0, 10)

In [3]:
# a very simple square series
for n in range(10):
  print(n**2)

0
1
4
9
16
25
36
49
64
81

In [6]:
# simple pattern
for n in range(10):
  for m in range(n):
    print(m, end=' ')
  print('\n')

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5

0 1 2 3 4 5 6

0 1 2 3 4 5 6 7

0 1 2 3 4 5 6 7 8

In [ ]:
# PROBLEM STATEMENT:
# print the pattern in opposite
# 0 1 2 3 4 5 6 7 8 
# 0 1 2 3 4 5 6 7 
# 0 1 2 3 4 5 6 
# ....
# 0 1 2
# 0 1 
# 0