<a href="https://colab.research.google.com/github/a-forty-two/DFEData2/blob/main/003_Math_and_Logic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Permutation and Combination 
# Factorial
# N! = 5! = 5X4X3X2X1 
# 0! = 1
# 1! = 1
# 2! = 2X1 = 2
# 3! = 3X2X1 = 6...

In [2]:
# writing a program to calculate factorial of a number N input by the user

In [3]:
n = int(input("Enter a number to calculate factorial "))
# write your program here

# Negative nos. not defined
if(n<0):
  print('Not defined for negative')
if(n==0):
  print("0's factorial is 1")
if(n>0):
  fact = 1
  for i in range(1,n+1):
    fact = fact * i
  print('factorial = ' + str(fact))

Enter a number to calculate factorial 3
factorial = 6

In [6]:
# Combination 

# combination to find all 3 digit numbers

# logic-> 9 options for 1st digit [1-9] X 10 options [0-9] X 10 options [0-9]

all_3_digits = 9 * 10 * 10
all_3_digits

900

In [9]:
# Problem statement-> convert this into a program to find 
# ALL 3 digit EVEN numbers only! 

# even-> last_digit= [0,2,4,6,8] 

all_3_digit_evens = 9 * 10 * 5 
all_3_digit_evens

450

In [10]:
# Count all numbers following this rule set
# 1: number should always be divisible by 5
# 2: number can start only from an even number
# 3: number can be 5 digit only  

# 1st -> [2,4,6,8]
# 2nd,3rd,4th-> 10 
# 5th-> [0,5]

In [12]:
# Till now-> we only COUNTED
# generate some of them
d1 = [2,4,6,8]
d2= range(0,10)
d3 = range(0,10)
d4 = range(0,10)
d5 = [0,5]

results = []

# generate all such numbers!
for i in d1:
  for j in d2:
    for k in d3:
      for l in d4:
        for m in d5:
          eligible_num = m + 10*l + 100*k + 1000*j + 10000*i 
          results.append(eligible_num)

In [13]:
len(results)

8000

In [14]:
results[:10]

[20000, 20005, 20010, 20015, 20020, 20025, 20030, 20035, 20040, 20045]