<a href="https://colab.research.google.com/github/a-forty-two/DFEData2/blob/main/004_Number_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# We: Decimal- base 10
# Computer: On/Off (True/False) (1/0)- Binary- base 2

In [2]:
# symbols
# 0 1 2 3 4 5 6 7 8 9 A B C D E F G H....

In [3]:
# Early Man: cattle, plants, belongings-> same count of stones/wood

In [4]:
# 1 hour = 60 mins , 1 min = 60 seconds-> circle -> clock 
# 360 degrees 
# Counting on fingers-> 10 base

In [5]:
# 1 digit -> 0 -> 0, 00, 000, 0000...[ 1 ] at digit_count = 0 or 1, total permuations = 1
# 2 ditis-> 0 and 1-> 0, 1, 10, 11, 110, 111 -> permuations= inf

In [6]:
# SIZE of INPUT matters

In [7]:
# at least 2 digits-> assumption

In [8]:
# base 10 system
# 3 digit numbers
# hundreds tens units
# number_system = [0,1,2,3,4,5,6,7,8,9]
#    MULTIPLIERS (base^position)
#     10^2 10^1 10^0
#     100  10   1
#
#     0    0    0 = 0*100 + 0*10 + 0*1 = 0
#     0    0    1 = 0*100 + 0*10 + 1*1 = 1
#     ....
#     0    0    9 = 0*100 + 0*10 + 9*1 = 9
#     0    1    0 = 0*100 + 1*10 + 0*1 = 10
#     0    9    9 

# 36 = is 36 > 100? if yes, put the number of times it was!
# 36 = is 36 > 10? if yes, put the number of times it was!
#       => 3 * 10^1 + 6 * 10^0

# [0,1]
#    = 128 64 32 16 8 4 2 1  (8 bit length)
# 36 =  0                   = 36
#    =  0   0               = 36
#    =  0   0  1            = 36- 32*1 = 4
#  4 =  0   0  1  0         =  4
#  4 =  0   0  1  0 0       =  4   
#  4 =  0   0  1  0 0 1     =  4- 4*1 = 0
#  0 =  0   0  1  0 0 1 0 0

In [9]:
# base 2 system
# 3 digit numbers
# hundreds tens units
# number_system = [0,1]
#    MULTIPLIERS
#    2^3 2^2 2^1 2^0
#    8  4  2   1
#                                   Decimal
#       0  0   0 = 4*0 + 2*0 + 1*0 = 0
#       0  0   1 = 4*0 + 2*0 + 1*1 = 1
#       0  1   0 = 4*0 + 2*1 + 1*0 = 2
#     ....
#       1  1  1  = 4*1 + 2*1 + 1*1 = 7
#    1  0   0 1   = 8*1 + 4*0 + 2*0 + 1*1 = 9

In [ ]:
# Build a base system for 3 
# Multipliers,

In [12]:
a = bin(10)
a

'0b1010'

In [ ]:
# 0b-> binary, 0x-> hexa, 0o -> Octal
# 1001 1000 1100 0011
# data-> calculated and printed
# command-> print on printer

In [15]:
# convert decimal to binary

def dec_2_bin(n):
  total_length = 16 
  # largest number-> 2^16 - 1 = 65535 
  # Data Validation
  if n > 65535:
    print('Oops! too large for me to calculate. Enter some smaller number next time.')
    return 
  if n < 0:
    print('Negative numbers not supported in current version. Update coming soon')
    return 
  copy_n = n

In [ ]:

n = int(input("Enter a decimal number (be kind and enter a small number please)"))
print(dec_2_bin(n))

In [ ]:
# Problem: convert binary to decimal