In [1]:
# Lambda or Anonymous function-> does not have a name

#FUNCTIONS -> to group a set of instructions that can be executed together 

# Function-> in your computer's processor and RAM-> we need to mantain-> Stack and Heap

In [2]:
#lambda function

# 1 LINE of execution

# Syntax: lambda input : what to do with that input 

example = lambda x : x + 1

In [3]:
example(1)

2

In [4]:
# searching / transformation 
a = [ 'M', 'B', 'M', 'B'] # radius, perim... diag-> M, B
# ML-> need to convert this to numbers!-> y = mx + c
# any format ---> conv into numbers and then plot on a graph
# labels into numbers

conv = lambda val : 1 if val=='M' else 0

In [8]:
a = [ 'M', 'B', 'M', 'B']
b = []
for i in a:
  b.append(conv(i))
print(b)

[1, 0, 1, 0]

In [11]:
a = [ 'M', 'B', 'M', 'B']
b = [ conv(i) for i in a]
print(b)

[1, 0, 1, 0]

In [9]:
# syntax ->   [ <what to do on each element> for loop on list  ]
randomlist = [ i+1 for i in [2,4,6,8,16]]

In [10]:
randomlist

[3, 5, 7, 9, 17]