<a href="https://colab.research.google.com/github/a-forty-two/DFEData2/blob/main/02_ZScoringandMOAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lambda or Anonymous function-> does not have a name

#FUNCTIONS -> to group a set of instructions that can be executed together 

# Function-> in your computer's processor and RAM-> we need to mantain-> Stack and Heap

# Reading material: https://www.w3schools.com/python/python_lambda.asp

In [ ]:
#lambda function

# 1 LINE of execution

# Syntax: lambda input : what to do with that input 

example = lambda x : x + 1

In [ ]:
example(1)

2

In [ ]:
# searching / transformation 
a = [ 'M', 'B', 'M', 'B'] # radius, perim... diag-> M, B
# ML-> need to convert this to numbers!-> y = mx + c
# any format ---> conv into numbers and then plot on a graph
# labels into numbers

conv = lambda val : 1 if val=='M' else 0

In [ ]:
a = [ 'M', 'B', 'M', 'B']
b = []
for i in a:
  b.append(conv(i))
print(b)

[1, 0, 1, 0]

In [ ]:
a = [ 'M', 'B', 'M', 'B']
b = [ conv(i) for i in a]
print(b)

[1, 0, 1, 0]

In [ ]:
# syntax ->   [ <what to do on each element> for loop on list  ]
randomlist = [ i+1 for i in [2,4,6,8,16]]

In [ ]:
randomlist

[3, 5, 7, 9, 17]

In [ ]:
def power123(y):
  return lambda x: x**y

In [ ]:
sqr = power123(2) # lambda x: x*2 
cube = power123(3) # lambda x: x*3

In [ ]:
val = sqr(3)
val

9

In [ ]:
val = cube(4)
val

64

In [ ]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/a-forty-two/cylons/master/data.csv', header=0)

In [ ]:
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
# mean, median, mode, std

In [ ]:
data.describe()

# z-score-> (x-mean)/standard_deviation
#

                 id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
count  5.690000e+02   569.000000  ...               569.000000          0.0
mean   3.037183e+07    14.127292  ...                 0.083946          NaN
std    1.250206e+08     3.524049  ...                 0.018061          NaN
min    8.670000e+03     6.981000  ...                 0.055040          NaN
25%    8.692180e+05    11.700000  ...                 0.071460          NaN
50%    9.060240e+05    13.370000  ...                 0.080040          NaN
75%    8.813129e+06    15.780000  ...                 0.092080          NaN
max    9.113205e+08    28.110000  ...                 0.207500          NaN

[8 rows x 32 columns]

In [ ]:
#[ [ 1 2 3],
# [ 2 3 4],
# [ 3 4 5] ] 

# Pixel-> R,G,B-> (100,50,200)
# one row of image-> [ p1, p2 , p3 , p4, p5....]
# image = [[ p1, p2 , p3 , p4, p5....], [ p1, p2 , p3 , p4, p5....], [ p1, p2 , p3 , p4, p5....]]...]
# Transpose-> 90 degree rotation

In [ ]:
data.describe().T

                         count          mean  ...           75%           max
id                       569.0  3.037183e+07  ...  8.813129e+06  9.113205e+08
radius_mean              569.0  1.412729e+01  ...  1.578000e+01  2.811000e+01
texture_mean             569.0  1.928965e+01  ...  2.180000e+01  3.928000e+01
perimeter_mean           569.0  9.196903e+01  ...  1.041000e+02  1.885000e+02
area_mean                569.0  6.548891e+02  ...  7.827000e+02  2.501000e+03
smoothness_mean          569.0  9.636028e-02  ...  1.053000e-01  1.634000e-01
compactness_mean         569.0  1.043410e-01  ...  1.304000e-01  3.454000e-01
concavity_mean           569.0  8.879932e-02  ...  1.307000e-01  4.268000e-01
concave points_mean      569.0  4.891915e-02  ...  7.400000e-02  2.012000e-01
symmetry_mean            569.0  1.811619e-01  ...  1.957000e-01  3.040000e-01
fractal_dimension_mean   569.0  6.279761e-02  ...  6.612000e-02  9.744000e-02
radius_se                569.0  4.051721e-01  ...  4.789000e-01  2.873000e+00
texture_se               569.0  1.216853e+00  ...  1.474000e+00  4.885000e+00
perimeter_se             569.0  2.866059e+00  ...  3.357000e+00  2.198000e+01
area_se                  569.0  4.033708e+01  ...  4.519000e+01  5.422000e+02
smoothness_se            569.0  7.040979e-03  ...  8.146000e-03  3.113000e-02
compactness_se           569.0  2.547814e-02  ...  3.245000e-02  1.354000e-01
concavity_se             569.0  3.189372e-02  ...  4.205000e-02  3.960000e-01
concave points_se        569.0  1.179614e-02  ...  1.471000e-02  5.279000e-02
symmetry_se              569.0  2.054230e-02  ...  2.348000e-02  7.895000e-02
fractal_dimension_se     569.0  3.794904e-03  ...  4.558000e-03  2.984000e-02
radius_worst             569.0  1.626919e+01  ...  1.879000e+01  3.604000e+01
texture_worst            569.0  2.567722e+01  ...  2.972000e+01  4.954000e+01
perimeter_worst          569.0  1.072612e+02  ...  1.254000e+02  2.512000e+02
area_worst               569.0  8.805831e+02  ...  1.084000e+03  4.254000e+03
smoothness_worst         569.0  1.323686e-01  ...  1.460000e-01  2.226000e-01
compactness_worst        569.0  2.542650e-01  ...  3.391000e-01  1.058000e+00
concavity_worst          569.0  2.721885e-01  ...  3.829000e-01  1.252000e+00
concave points_worst     569.0  1.146062e-01  ...  1.614000e-01  2.910000e-01
symmetry_worst           569.0  2.900756e-01  ...  3.179000e-01  6.638000e-01
fractal_dimension_worst  569.0  8.394582e-02  ...  9.208000e-02  2.075000e-01
Unnamed: 32                0.0           NaN  ...           NaN           NaN

[32 rows x 8 columns]

In [ ]:
stats = data.describe().T
mu = stats['mean']
sigma = stats['std']

In [ ]:
mu

id                         3.037183e+07
radius_mean                1.412729e+01
texture_mean               1.928965e+01
perimeter_mean             9.196903e+01
area_mean                  6.548891e+02
smoothness_mean            9.636028e-02
compactness_mean           1.043410e-01
concavity_mean             8.879932e-02
concave points_mean        4.891915e-02
symmetry_mean              1.811619e-01
fractal_dimension_mean     6.279761e-02
radius_se                  4.051721e-01
texture_se                 1.216853e+00
perimeter_se               2.866059e+00
area_se                    4.033708e+01
smoothness_se              7.040979e-03
compactness_se             2.547814e-02
concavity_se               3.189372e-02
concave points_se          1.179614e-02
symmetry_se                2.054230e-02
fractal_dimension_se       3.794904e-03
radius_worst               1.626919e+01
texture_worst              2.567722e+01
perimeter_worst            1.072612e+02
area_worst                 8.805831e+02
smoothness_worst           1.323686e-01
compactness_worst          2.542650e-01
concavity_worst            2.721885e-01
concave points_worst       1.146062e-01
symmetry_worst             2.900756e-01
fractal_dimension_worst    8.394582e-02
Unnamed: 32                         NaN
Name: mean, dtype: float64

In [ ]:
# z-score -> (x-mu)/sigma -> (x-mean)/standard_dev

In [ ]:
zscore = (data-mu)/sigma
# z-score-> -inf, inf-> where mean = 0, and every other value is just ratio wrt mean 
# 2 ways: 1) outlier removal-> any ratio>3, < -3 => outlier
# age(0-100), money(0-10million)---> normalize---> age(0,1), money(0,1); age(-3,3), money(-3,
#-3)
#normal dist (normalized probab. dist-> 0-1, -1,1)

In [ ]:
# old data
data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [ ]:
# new data (normalized)
zscore.head(5)

   Unnamed: 32  area_mean   area_se  ...  texture_mean  texture_se  texture_worst
0          NaN   0.983510  2.485391  ...     -2.071512   -0.564768      -1.358098
1          NaN   1.907030  0.741749  ...     -0.353322   -0.875473      -0.368879
2          NaN   1.557513  1.180298  ...      0.455786   -0.779398      -0.023953
3          NaN  -0.763792 -0.288125  ...      0.253509   -0.110312       0.133866
4          NaN   1.824624  1.189310  ...     -1.150804   -0.789549      -1.465481

[5 rows x 33 columns]