<a href="https://colab.research.google.com/github/a-forty-two/DFEData2/blob/main/fibonacci.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 0,1,1,2,3,5,8,13,21.....
# -1, 1-> 0
# 1, 0-> 1
# 0, 1-> 1
# 1, 1-> 2
# 2, 1-> 3....
# 0,1-> next number is sum of the previous numbers
# Nature-> shells, human body/animals, bee-population

# Any series-> AP, GM, HP.... 
# Natural Number-> 1,2,3,4... inf
# Whole -> 0,1,2,3.... inf
# series-> base +- some factor 
# 2,4,6,8,?
# 2,4,8,16,? GM-> */

In [2]:
class Fibonacci:
  # __iter__ -> initialize series
  # __next__ -> calculate next value in series
  def __iter__(this): 
    this.first = -1
    this.second = 1
    return this
  def __next__(this):
    this.sum = this.first + this.second # 0
    this.first = this.second # from -1, -> 1
    this.second = this.sum # from 1-> 0
    return this.sum

In [3]:
myseries = Fibonacci()
series_pointer = iter(myseries)

In [5]:
next(series_pointer)

0

In [6]:
myseries = Fibonacci()
series_pointer = iter(myseries)
for i in range(30):
  print(next(series_pointer))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229

In [15]:
# Snail -> speed of 8m/day
# total distance to cover is 16 meters
# Every day-> Snail's speed reduces by half
# in how many days will the snail reach the destination?

# Incomplete Problems -> mathematic -> Sum of Infinite Series
  # Approximates-> we will be able to move on with calculations!

# TRUE->on, FALSE->off
# X Y        AND(&&). OR(||). XOR
# On On       On.     On.      Off
# On Off.     Off.    On       On
# Off On.     Off.    On       On
# Off Off.    Off.    Off      Off
# vector-> a^b^c != (a^b)^c != a^(b^c)

a = 42
b = 20
a = a ^ b #gets bits that are off in both numbers!
b = a ^ b #remove the off bits from the new_a number-> opposite number!
a = a ^ b # remove the new off bits from new_a number-> opposite number!

# 2,3
# 2-> 0010=a
# 3-> 0011=b
# a = a^b= 0001
# b = a^b = 0001 ^ 0011 => 0010
# a = a^b = 0001 ^ 0010 => 0011
print(a)
print(b)

20
42

In [16]:
class randomseries:
  def __iter__(self):
    self.num = 0.5
    return self
  def __next__(self):
    self.num = self.num * 2
    return self.num

In [18]:
obj = randomseries()
itr = iter(obj)
for n in range(5):
  print(int(next(itr)))

1
2
4
8
16

In [19]:
# y = 2x + 3
# x=0, 3
# x=1,
# x=2.,,
# 3, 9
# function of prev value

In [11]:
class banana:
  def __iter__(self):
    self.x = -1
    return self
  def __next__(self):
    self.x = self.x + 1
    self.y = 2 * self.x + 3
    return self.y

In [12]:
a = banana()
b = iter(a)
for i in range(10):
  print(next(b))

3
5
7
9
11
13
15
17
19
21

In [ ]:
class blahblah:
  def __iter__(this):
    this.a = 1
    this.b = 2
    return this
  def __next__(this):
    this.c = this.a * this.b 
    this.a = this.a + 1
    this.b = this.b * 2
    return this.c
    # __init__ -> constructor